.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1 0 auto;
}

.banner {
  height: 300px;
  margin-bottom: 20px;
  background-image: url(../images/Banner.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
